<%- include('partials/header') %>
<div class="container">
    <div class="smoothie">
        <img src="/pic.png" alt="Smoothie">
    </div>
    <div class="headings">
        <h2>Smoothies</h2>
        <h3>By Hansi Gupta</h3>
        <a href="/smoothies" class="btn">View Smoothies</a>
    </div>
</div>
<%- include('partials/footer') %>