<%- include('partials/header') %>
<div class="container">
    <ul class="recipes">
        <li class="recipe">
            <img src="/pic.png" alt="Smoothie">
            <h4>Banana Boost</h4>
            <p>Ingredients: Banana, Mango, Pineapple, Coconut Milk</p>
            <p>Instructions: Blend all ingredients together until smooth.</p>
        </li>
        <li class="recipe">
            <img src="/pic.png" alt="Smoothie">
            <h4>Tropical Twist</h4>
            <p>Ingredients: Peach, Apple, Pineapple, Coconut Milk</p>
            <p>Instructions: Blend all ingredients together until smooth.</p>
        </li>
        <li class="recipe">
            <img src="/pic.png" alt="Smoothie">
            <h4>Beetroot Blend</h4>
            <p>Ingredients: Peach, Beetroot, Pineapple, Coconut Milk</p>
            <p>Instructions: Blend all ingredients together until smooth.</p>
        </li>
    </ul>
</div>
<%- include('partials/footer') %>